body {
    background-color: #ffffcc;
}

h1 {
    font-size: 48px;
    margin: 5px;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 28px;
}

.child {
    border: solid 1px black;
    vertical-align: middle;
    text-align: center;
    background-color: #ccffff;
}

.period {
    width: 1460px;
    height: 200px;
}

.files {
    width: 400px;
    height: 200px;
}

.graph {
    width: 400px;
    height: 300px;
}
